body{
    padding: 0 15%;
}

.row{
    padding: 20px 0;
    align-items: center;
}

.row>*{
    width: auto;
}

.btn-sm{
    font-size: 10px;
}

.search-item{
    background-color: #ececec;
    padding: 5px 10px;
    cursor: pointer;
}
.search-item:hover{
    background-color: #aff7b8;
}
.coord{
    font-size: 10px;
    font-style: italic;
    color: grey;
}
.temperature{
    font-size: 24px;
}
.row img{
    width: 70px;
}